img {
  max-width: 100px;
  border: 5px solid #fd2217; }

body {
  background-color: #e2e2e2;
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  padding: 2vh 2rem;
  text-align: left;
  font-size: 20px; }

li {
  margin: 10px;
  font-weight: bold; }

ul {
  list-style-type: none;
  margin-left: 40px;
  background-color: red; }

table, th, td {
  border: 1px solid; }

.container {
  align-items: center;
  display: flex; }

.text {
  text-align: left; }

.navbar {
  text-align: left;
  font-size: 30px;
  font-style: italic;
  color: #0a7bc7;
  display: inline;
  width: 100%; }

div {
  width: 100%; }

tr:nth-child(even) {
  background-color: #f2f2f2; }

tr:hover {
  background-color: #0a7bc7; }

a {
  color: #2600ff; }

.no-bullets {
  list-style-type: none;
  padding-left: 0;
  margin: 0; }

hr {
  border: 1px solid red; }
